main .main-logo img {
    width: 450px;
    height: 150px;
}

main .main-input {
    width: 600px;
}

main .main-inpunt-container {
    width: 600px;
}

main .main-input input {
    width: 600px;
}